$sidebar-width: 280px;
$sidebar-pinned-width: 80px;
$sidebar-brand-height: 55px;
$sidebar-footer-height: 35px;
$border-radius: 4px;


$text-color: #b3b8d4;
$secondary-text-color: #dee2ec;

$bg-color: #0c1e35;
$secondary-bg-color: #0b1a2c;

$border-color: rgba(#535d7d, 0.3);

$sidebar-header-height: 64px;
$sidebar-footer-height: 64px;


$sidebar-width: 280px !default;
$sidebar-collapsed-width: 80px !default;
$header-height: 64px !default;
$footer-height: 64px !default;

$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
$breakpoint-xxl: 1600px !default;



