@{
    ViewBag.Title = "Bład";
}
<h2>Edycja materiału</h2>
<div class="alert alert-danger" role="alert">
    @ViewBag.Komunikat
</div>
<p>
    @Html.ActionLink("Powrót do listy", "Index", null, new { @class = "btn btnwarning" })
</p>
