@{
    ViewBag.Title = "W przypadku problemów ze stworzeniem zgłoszenia prosimy o kontakt";
}
<div class="container   col-md-offset-2 col-md-12">
    <div class="row d-flex justify-content-center align-items-center h-100 card-title">
        <h2>@ViewBag.Title.</h2>

        <address>
            Telefon:
            +48 21 371 69 23<br />
            Ulica: Patoki 29<br />
            Miasto: Patoki <br />
            Kod pocztowy: 05-077 <br />

        </address>

        <address>
            <strong>Email kontaktowy:</strong>   <a href="mailto:helpdesku67@gmail.com">helpdesku67@gmail.com</a><br />
        </address>
        </div>
</div>
